.cabecalho{
width: 685px;
height: 192px;
background-color:deeppink ;
}
.primeira_secao{
    width: 683px;
    height: 245px;
    background-color:rgb(209, 86, 127) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
.retangulo{
    width: 192px;
    height: 178px;
    background-color: hotpink ;
     }
.retangulo{
     width: 138px;
     height: 137px;
     background-color: hotpink;
            }
.retangulo{
     width: 110px;
     height: 178px;
     background-color: hotpink ;
                }
 .retangulo{
     width: 150px;
     height: 178px;
     background-color: hotpink ;
 }
.segunda_secao{
     width: 700px; ;
     height: 368px; ;
     background-color:rgba(255, 0, 255, 0.158);
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}
                    
.quadrado{
     width:245PX;
     height:232px;
     background-color: deeppink;
}             
.retangulo{
     width:355px;
     height: 46px;;
     background-color:hotpink
}
.retangulo {
     width: 355px;
     height:46px;
     background-color:hotpink
}
.retangulo {
     width:355px;
     height:46px;
     background-color:hotpink
}
.terceira_secao{
     width: 700px; ;
     height: 375px; ;
     background-color: rgba(255, 0, 255, 0.158);
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}
.retangulo{
     width:278px;
     height:38px;
     background-color:hotpink
}
.retangulo{
     width:278px;
     height:38px;
     background-color:hotpink
}
.retangulo{
     width:278px;
     height:38px;
     background-color:hotpink
}
.quadrado{
     width:271PX;
     height:228px;
     background-color: deeppink;
}             
.quarta_secao{
     width: 700px; ;
     height: 152px; ;
     background-color: rgba(255, 0, 255, 0.158);
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}
.quadrado