.cabecalho{
width: 685px;
height: 192px;
background-color:deeppink ;
}
.primeira_seção{
    width: 683px;
    height: 245px;
    background-color:rgb(209, 86, 127) ;
    }
    .retangulo{
        width: 150px;
        height: 178px;
        background-color:rgb(236, 133, 168) ;
        }